@import "../../assets/styles/variable.scss";

.box {
    width: 843px;
    height: 762px;
    background-color: #f9f9f9;
    &_top {
        height: 180px;
        font: bold;
        font-size: 30px;
        font-weight: 800;
        text-align: center;
        padding-top: 130px;
        margin-bottom: 30px;
        color: $primaryTextColor;
    }
    &_mid {
        height: 333px;
        text-align: center;
        font-size: 20px;
        color: $primaryTextColor;
        margin-top: 120px;
        &_font {
            margin-top: 10px;
        }
    }
    &_bot {
        width: 442px;
        height: 36px;
        background-color: #141414;
        margin-top: 352px;
        margin: 0 auto;
        &_font {
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 36px;
        }
    }
}
