@import "./assets/styles/variable.scss";

h2 {
    color: $primaryHeadingColor;
    font-weight: bold;
    font-size: 24px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 8px;
}

h3 {
    color: $primaryTextColor;
    font-weight: bold;
}

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
}
