// variables of stylesheet
$primaryColor: #111111;
$primaryHeadingColor: #26696d;
$primaryBackgroundColor: #ffffff;
$primaryFontColor: #3e8bff;
$primaryNavBackground: #141414;
$primaryTextColor: #000000;
$primaryLabelColor: #7f8fa4;
$primaryInputBackground: #f2f2f2;
$primaryLinkColor: #97bdff;
$primaryErrorColor: #ec5e5c;
$primaryErrorBackground: #ffe4e6;
$primaryDividerColor: #f0f0f0;
$primaryCritical: #ff0707;
$primaryImportant: #65a2ff;
$primaryNormal: #00b893;

$secondaryBackgroundColor: #f9f9f9;
$secondaryBorderColor: #d9d9d9;
$secondaryTextColor: #8c8c8c;
$secondaryInputColor: #666666;
$secondaryInputBackground: #2c2e30;
$secondaryNavColor: #898f9e;
$secondaryCalendarBorder: #e9e9e9;
$secondaryButtonBackground: #f3f6f9;
$secondaryCalendarBackground: #fcfcfc;
$secondaryCalendarColor: #c0c3cc;

$tertiaryTextColor: #999999;
$backdropBackground: #e5e5e56b;
